*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container .box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container .box .dream{
	display: flex;
	flex-direction: column;
	width: 32.5%;
}
.container .box .dream img{
	width: 100%;
	border-radius: 10PX;
    padding-bottom: 15px;
}